.App {
  text-align: left;
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header{
  background-color: #000000;
  min-height: 10vh;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

